<%if !@circles.nil? && !@circles.empty?%>

    <div class="row mt-5">
    <%@circles.each do |circle|%>
        <div class="col-sm-6 col-md-4">
            <div class="card-container">
                <a href='/circle/<%=circle["id"]%>' class="card mb-4">
                    <div class="card-body">
                        <p class="card-text"><%=circle["name"]%></p>
                    </div>
                    <img class="card-img-top" src='<%=circle["url"]%>' alt="Card image cap">
                </a>
            </div>
        </div>
    <%end%>
    </div>
<%else%>
    <p style='padding-top:40px;'>指定のサークルは見つかりませんでした</p>
<%end%>

