<div class="container">
  <div class="form-wrapper">
    <div class="container">
      <form action="/search" method="get" class="">
        <div class="form-group">
          <label for="exampleSelect1">活動場所</label>
          <select class="form-control" id="exampleSelect1">
            <option>豊中キャンパス</option>
            <option>吹田キャンパス</option>
            <option>箕面キャンパス</option>
            <option>その他</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleSelect2">曜日</label>
          <select multiple class="form-control" id="exampleSelect2">
            <option>月</option>
            <option>火</option>
            <option>水</option>
            <option>木</option>
            <option>金</option>
            <option>土</option>
            <option>日</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary"><i class="fa fa-search mr-2"></i>サークルを検索</button>
      </form>
    </div>
  <div>
</div>