/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 */

@import "bootstrap";
@import "font-awesome";

//色設定
$yellow_default:#f5bb1c;
$yellow_active:#f7c642;



//全体設定
a:hover {
    text-decoration: none;
}

html {
    min-height: 100%;
}

body {
    height :100%;
    //background: linear-gradient(#fbc2eb, #a6c1ee);
    //background-color: white;
}

.navbar {
    position: static !important;
}

//色関連
.white {
    color:white;
}
.bg-yellow {
    //background-color: $yellow_default;
    background-color: black;
}

//navbar関連
//navbar
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
 }
 
 .navbar .dropdown-menu {
   border:none;
   background-color:$yellow_default !important;
 }
 
 /* breakpoint and up - mega dropdown styles */
 @media screen and (min-width: 992px) {
   
   /* remove the padding from the navbar so the dropdown hover state is not broken */
 .navbar {
   padding-top:0px;
   padding-bottom:0px;
 }
 
 /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
 .navbar .nav-item {
   padding:.25rem .25rem;
   margin:0 .25rem;
 }
 
 /* makes the dropdown full width  */
 .navbar .dropdown {position:static;}
 
 .navbar .dropdown-menu {
   width:100%;
   left:0;
   right:0;
 /*  height of nav-item  */
   top:45px;
 }
   
   /* shows the dropdown menu on hover */
 .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block!important;
 }
   
   .navbar .dropdown-menu {
     border: 1px solid rgba(0,0,0,.15);
     background-color: #fff;
   }
}


//button関連
.btn-default {
    color: #333333;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.btn-primary{
    color:white;
    background-color: $yellow_default;
    border-color: $yellow_default;

    &:hover,&:active{
        background-color: $yellow_active;
        border-color: $yellow_active;
    }
}


//userのみjsで遷移するのでcursor指定　
#user {
    cursor: pointer;
}
