/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 */
@import "font-awesome";

@import "variables";

//全体設定
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    background: white;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background: $base-color;
    width: 100%;
    height: 3rem;
    p{  
        padding-top: 1rem;
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
    }
}
//navbar関連
@media all and (min-width: 960px) { //pc版

    // mobile系のみの要素をdisplay:noneする
    // 具体的にはハンバーガーメニュー 関連
    .mobile-menu-title-container,#blackout,#nav-open {
        display: none;
    }

    .header {
        position: fixed;
        z-index:9999;
    
        width: 100%;
        height:5.6rem;
    
        background: white;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,0.3);
    }
    
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        width: 100%;
        max-width: 114rem;
        height: 5.6rem;
    
        margin: 0 auto;
    }
    
    .app-title {
        font-size: 180%;
        font-weight: bold;
        text-decoration: none;
        color:#3e3e3e; 
    }

    .app-title:hover {
        animation: hop .5s ease-in-out;
        color: $accent-color;
    }

    //pc版の時だけ少しだけ跳ねさせてみる
    @keyframes hop{
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-.5rem);
        }

        100% {
            transform: translateY(0);
        }
    }
    
    .gnav {
        display: flex;
    }
    
    .nav-item {
        list-style: none;
        padding: 2.1rem 2.4rem 1.7rem 2.4rem;
    }
    
    .nav-link {
        display: inline;

        text-decoration: none;
        font-size:140%;
        color:#3e3e3e;
        font-weight: 700;

        padding-bottom: .4rem;
    }
    
    .nav-link:hover{
        border-bottom:.2rem solid $accent-color;
    }
    .menu {
        width: 100vw;
        height:300px;
    
        position: absolute;
        top:5.4rem;
        left:0;
    
        background: white;
        //TODO
        //menuの下側だけbox-shadow入れたい...
    
        transform: scaleY(0.000000001);
        transform-origin: top;
    
        transition: 0.2s;
    }
    
    .nav-item:hover .menu{
        transform: scaleY(1);
    
    }
    
    .menu-container {
        display: flex;
        justify-content: space-between;
    }
    
    .menu-title-container {
        height:30rem;
        width:19%;
        
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    
        background: $base-color;
    
    }
    
    .menu-title {
        font-size:300%;
        color: white;
    }
    
    .menu-desc {
        font-size:140%;
        letter-spacing: .2rem;
        color: #e3e3e3;
    }
    
    .menu-index-container {
        width: 27%;
        height: 28rem;
    
        display: flex;
        flex-flow: column;
        align-items: center;
        flex-wrap: wrap;
    
        border-right: 1px solid #e1e1e1;
    }
    
    
    .menu-index-title {
    
        display: inline-block;
    
        width: 180px;
        text-align: center;
        font-size: 160%;
        font-weight: 700;
        padding: 1rem 2rem;
        border-radius: 20rem;
    
        background: $accent-color;
        color: white;
    
    }
    
    .menu-index-nav-item {
        list-style: none;
        margin-top:2rem;
        width: 100%;
    }
    
    .menu-index-nav-link {
        text-decoration: none;
        font-size: 150%;
        color: #3e3e3e;
    }
    
    .day-container {
        display: flex;
        flex-flow: wrap;
    }
    
    .day-item {
        width: 50%;
        text-align: center;
        margin-top:3rem;
    }
    
    .day {
        text-decoration: none;
        font-size: 150%;
    
        padding: 1rem 1rem;
        border-radius: 20rem;
        
        background-color: #0168b3;
        color:white;
    }

    .main {
        padding-top:5.6rem;
        width: 100%;
    }
}

@media all and (max-width: 960px) {//mobile版

    .main {
        padding-top:5rem;
        width: 100%;
    }

    //mobile版はfooter非表示
    .footer {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        height: 5rem;
        width: 100%;

        background: white;
        box-shadow: 0px .1rem 1rem rgba(0,0,0,0.3);

        z-index: 100;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
    }

    .app-title {
        font-size: 170%;
        font-weight: bold;
        text-decoration: none;
        color:#3e3e3e; 
    }

    #nav-open {
        position: absolute;
        right: 10px;
        display: inline-block;
        width: 3rem;
        height: 2.2rem;
        vertical-align: middle;
    }

    .icon {
        font-size: 170%;
    }

    #blackout {
        background: rgba(0,0,0,0.5);
        position: fixed;
        top:0;
        left: 0;
        width:100%;
        height: 100%;
        z-index: 200;
        display: none;
    }

    .gnav {
        overflow: auto;
        position: fixed;
        z-index: 9999;
        width:90%;
        height: 100%;
        max-width:33rem;
        background: white;
        top: 0;
        left: 0;
        transform: translateX(-105%);/*左に隠しておく*/
        transition: 0.3s;
    }

    .nav-item {
        width:100%;
        background: $base-color;
        text-align: center;
    }

    .nav-link {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 170%;
        padding: 2.4rem 4rem;
    }

    .menu {
        width: 100%;
        background: white;
        display: none;
    }

    .mobile-menu-title-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 20rem;
    }

    .menu-title {
        font-size: 270%;
        color:$base-color;
    }

    .menu-desc {
        font-size: 140%;
        letter-spacing: .2rem;
        color:#3e3e3e;
    }

    .menu-index-title {
        width: 100%;
        text-align: center;
        font-size: 170%;
        color:$base-color;
        padding: 2.4rem 4rem;
    }
    

    .menu-index-nav {
        display: none;
    }

    .menu-index-title:hover~.menu-index-nav{
        transform: scaleY(1);
        transition: 0.2s;

    }

    .menu-title-container {
        display: none;
    }

    .menu-index-nav-item {
        text-align: center;
        background: #f1f1f1;
    }


    .menu-index-nav-link,.day{
        padding: 2.4rem 4rem;
        display: block;
        text-decoration: none;
        color:#3e3e3e;
        font-size: 160%;
    }
}

//userのみjsで遷移するのでcursor指定　
#user {cursor: pointer}

.nav-main-wrapper{
    width: 100%;
    min-height: 100%;
    padding-bottom: 3rem;
    margin-bottom: -3rem;
}
