// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-btn {
    border-radius: 0px 5px 5px 0px;
}

.form-wrapper {
    background-color:white;
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align:middle;
}